In [22]:
import pandas as pd
import re, os
df=pd.read_csv('apt.csv',encoding='cp949') #encoding='cp949' 한글오류해결

In [23]:
df

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [3]:
len(df)

42758

In [5]:
df.head()

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22

In [6]:
df.tail()

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.76,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,26,11200,11,2002,원호암5길 32

In [8]:
df.지역

0         강원도 강릉시 견소동
1         강원도 강릉시 견소동
2         강원도 강릉시 견소동
3         강원도 강릉시 견소동
4         강원도 강릉시 견소동
             ...
42753    충청북도 충주시 호암동
42754    충청북도 충주시 호암동
42755    충청북도 충주시 호암동
42756    충청북도 충주시 호암동
42757    충청북도 충주시 호암동
Name: 지역, Length: 42758, dtype: object

In [9]:
df['아파트']

0                송정한신
1                송정한신
2        송정해변신도브래뉴아파트
3        송정해변신도브래뉴아파트
4        송정해변신도브래뉴아파트
             ...
42753            호반현대
42754      호암리버빌(1단지)
42755      호암리버빌(1단지)
42756      호암리버빌(1단지)
42757      호암리버빌(1단지)
Name: 아파트, Length: 42758, dtype: object

In [10]:
df['면적']>130

0        False
1        False
2        False
3        False
4        False
         ...
42753    False
42754    False
42755    False
42756    False
42757    False
Name: 면적, Length: 42758, dtype: bool

In [11]:
df[(df['면적']>155) & (df['가격']>150000)]

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
4946,경기도 성남분당구 정자동,6,6,0,분당파크뷰,162.8690,201910,5,163500,17,2004,정자일로 248
9938,경기도 용인수지구 동천동,932,932,0,래미안 이스트팰리스3단지,207.5800,201910,28,164000,16,2010,동천로135번길 21
26805,부산광역시 해운대구 우동,1407,1407,0,해운대두산위브더제니스,209.8332,201910,16,376640,70,2011,마린시티2로 33
27036,서울특별시 강남구 대치동,670,670,0,동부센트레빌,161.4700,201910,29,373000,3,2005,선릉로 206
27059,서울특별시 강남구 도곡동,193-42,193,42,벨라빌,217.5400,201910,10,184500,7,2000,남부순환로375길 6
27061,서울특별시 강남구 도곡동,202,202,0,상지리츠빌 카일룸,210.5000,201910,24,461000,2,2018,남부순환로373길 23
27069,서울특별시 강남구 도곡동,467-29,467,29,타워팰리스3,176.0760,201910,31,284000,66,2004,언주로30길 26
27079,서울특별시 강남구 삼성동,Feb-53,53,2,진흥아파트,170.0100,201910,8,290000,8,1984,학동로88길 5
27117,서울특별시 강남구 역삼동,713-7,713,7,래미안펜타빌,158.5800,201910,15,200000,19,2007,역삼로 309
27118,서울특별시 강남구 역삼동,835-68,835,68,롯데캐슬노블,242.8200,201910,8,245000,15,2007,도곡로13길 19
27142,서울특별시 강남구 청담동,102-7,102,7,연세리버빌,236.4200,201910,14,300000,4,1997,선릉로190길 72
27149,서울특별시 강남구 청담동,121,121,0,현대빌라트,183.7700,201910,7,219000,1,1998,도산대로83길 36
27951,서울특별시 광진구 광장동,145-8,145,8,워커힐,162.4100,201910,4,162000,4,1978,아차산로 637
27952,서울특별시 광진구 광장동,145-8,145,8,워커힐,162.4100,201910,12,170000,7,1978,아차산로 637
28005,서울특별시 광진구 자양동,227-7,227,7,더샵스타시티,163.5300,201910,2,180000,25,2007,아차산로 262
28011,서울특별시 광진구 자양동,227-7,227,7,더샵스타시티,163.5300,201910,8,170000,11,2007,아차산로 262
28012,서울특별시 광진구 자양동,227-7,227,7,더샵스타시티,177.9700,201910,11,185000,23,2007,아차산로 262
29941,서울특별시 서초구 반포동,20-43,20,43,반포자이,165.0520,201910,12,350000,22,2009,신반포로 270
29955,서울특별시 서초구 방배동,797-30,797,30,방배3차 e-편한세상,198.5315,201910,3,250000,5,2006,동광로 89-5
29957,서울특별시 서초구 방배동,849-30,849,30,방배롯데캐슬로제,172.2700,201910,2,239000,6,2009,방배로26길 41
29959,서울특별시 서초구 방배동,725,725,0,방배신삼호,164.9700,201910,14,248000,12,1983,방배로 270
29977,서울특별시 서초구 방배동,772-13,772,13,현대멤피스,158.8200,201910,2,180000,8,2001,방배로 249
30002,서울특별시 서초구 서초동,1506-46,1506,46,서초프레스턴,244.4200,201910,25,206000,6,2005,명달로22길 81
30008,서울특별시 서초구 서초동,1685-3,1685,3,아크로비스타,220.5500,201910,3,261000,22,2004,서초중앙로 188
30009,서울특별시 서초구 서초동,1685-3,1685,3,아크로비스타,205.0700,201910,5,240000,21,2004,서초중앙로 188
30019,서울특별시 서초구 서초동,1446-11,1446,11,현대슈퍼빌,214.9200,201910,14,250000,34,2003,서초중앙로 15
30020,서울특별시 서초구 서초동,1436-14,1436,14,현대아이파크,164.7400,201910,9,165000,4,2003,효령로68길 33
30656,서울특별시 송파구 문정동,150,150,0,훼밀리,158.7050,201910,4,174000,6,1988,중대로 24
30658,서울특별시 송파구 문정동,150,150,0,훼밀리,158.7050,201910,8,176750,14,1988,중대로 24
30694,서울특별시 송파구 신천동,07월 18일,7,18,롯데캐슬골드,166.7000,201910,15,169000,15,2005,올림픽로 269
30716,서울특별시 송파구 잠실동,40,40,0,갤러리아팰리스,162.4190,201910,7,235000,42,2005,올림픽로 212
30845,서울특별시 양천구 목동,961,961,0,하이페리온2,155.5860,201910,4,177000,32,2006,오목로 300
30846,서울특별시 양천구 목동,961,961,0,하이페리온2,155.5860,201910,12,178000,26,2006,오목로 300
30847,서울특별시 양천구 목동,961,961,0,하이페리온2,155.5860,201910,12,185000,36,2006,오목로 300
30848,서울특별시 양천구 목동,961,961,0,하이페리온2,155.5860,201910,15,180000,21,2006,오목로 300
30851,서울특별시 양천구 목동,916,916,0,현대하이페리온,180.4200,201910,8,224000,46,2003,목동동로 257
31158,서울특별시 영등포구 여의도동,37,37,0,미성,162.7100,201910,4,259000,6,1978,의사당대로 110
31258,서울특별시 용산구 한남동,810,810,0,한남더힐,233.0620,201910,24,485000,4,2011,독서당로 111
31457,서울특별시 종로구 사직동,9,9,0,광화문풍림스페이스본(101동~105동),159.0100,201910,20,158000,5,2008,사직로8길 4
31478,서울특별시 종로구 평창동,108,108,0,롯데캐슬 로잔,200.1650,201910,18,154000,2,2009,평창문화로 156
31501,서울특별시 중구 신당동,407-17,407,17,벨레어카운티,273.8200,201910,18,240000,5,2004,동호로20길 16
35826,인천광역시 연수구 송도동,04월 23일,23,4,더샵센트럴파크2,291.3360,201910,12,300000,41,2011,센트럴로 194

In [12]:
df[(df.면적>155) & (df.층>15)]

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
1479,경기도 고양덕양구 화정동,870,870,0,은빛마을(LG)5,164.9400,201910,22,50500,18,1995,화중로 164
1562,경기도 고양일산동구 식사동,1498,1498,0,위시티일산자이2단지,162.7081,201910,12,59000,26,2010,위시티4로 46
1565,경기도 고양일산동구 식사동,1498,1498,0,위시티일산자이2단지,238.9914,201910,26,89500,26,2010,위시티4로 46
1567,경기도 고양일산동구 식사동,1504,1504,0,위시티일산자이4단지,162.7081,201910,1,68000,21,2010,위시티4로 45
1569,경기도 고양일산동구 식사동,1504,1504,0,위시티일산자이4단지,162.7081,201910,14,69400,22,2010,위시티4로 45
...,...,...,...,...,...,...,...,...,...,...,...,...
35826,인천광역시 연수구 송도동,04월 23일,23,4,더샵센트럴파크2,291.3360,201910,12,300000,41,2011,센트럴로 194
36105,인천광역시 연수구 송도동,21-65,21,65,인천송도힐스테이트6단지,173.2950,201910,8,69500,16,2011,컨벤시아대로 100
40382,충청남도 천안동남구 청당동,456,456,0,우미린,164.0550,201910,12,38000,19,2010,청수14로 16
40822,충청남도 천안서북구 불당동,1292,1292,0,펜타포트(101동 102동),166.6540,201910,17,57700,25,2011,공원로 195
42322,충청북도 청주흥덕구 복대동,3379,3379,0,신영지웰시티 1차,196.9760,201910,20,96000,43,2010,대농로 17

In [15]:
df.loc[:10,['아파트','가격']]

                아파트     가격
0              송정한신  10900
1              송정한신  18500
2      송정해변신도브래뉴아파트  25000
3      송정해변신도브래뉴아파트  20600
4      송정해변신도브래뉴아파트  20500
5   강릉 교동 풍림아이원 아파트  29200
6       강릉교동롯데캐슬1단지  34300
7       강릉교동롯데캐슬2단지  32500
8             교동1주공  16200
9             교동1주공  21550
10            교동1주공  21800

In [43]:
df.loc[:,['단지명','거래금액','층']][df.층>15]

                 단지명            거래금액   층
18              교동대림          20,000  16
132               동부          17,800  17
167          힐스테이트강릉          35,000  16
185       북삼2차웰메이드타운          30,700  17
186        북삼하우스디아파트          16,500  21
...              ...             ...  ..
19950         미진이지비아          30,000  20
19951         미진이지비아          30,000  20
19956         충주시티자이          24,800  16
19979      LH힐스테이트호암          22,100  16
20009  충주호암두진하트리움아파트          42,800  19

[2402 rows x 3 columns]

In [17]:
df['단가']=df.가격/df.면적

In [28]:
df

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [30]:
df.sort_values(by='가격').loc[:,('가격','지역')] #오름차순 정렬

           가격                지역
17024     600      경상북도 구미시 원평동
17022     700      경상북도 구미시 원평동
17637     750  경상북도 칠곡군 약목면 관호리
17031     800      경상북도 구미시 원평동
17027     800      경상북도 구미시 원평동
...       ...               ...
27036  373000     서울특별시 강남구 대치동
26805  376640     부산광역시 해운대구 우동
29946  415000     서울특별시 서초구 반포동
27061  461000     서울특별시 강남구 도곡동
31258  485000     서울특별시 용산구 한남동

[42758 rows x 2 columns]

In [38]:
df.sort_values(by="가격",ascending=False).loc[:,('가격','지역')] #내림차순 정렬

           가격                지역
31258  485000     서울특별시 용산구 한남동
27061  461000     서울특별시 강남구 도곡동
29946  415000     서울특별시 서초구 반포동
26805  376640     부산광역시 해운대구 우동
27036  373000     서울특별시 강남구 대치동
...       ...               ...
17027     800      경상북도 구미시 원평동
17025     800      경상북도 구미시 원평동
17637     750  경상북도 칠곡군 약목면 관호리
17022     700      경상북도 구미시 원평동
17024     600      경상북도 구미시 원평동

[42758 rows x 2 columns]

In [47]:
#4억이상 면적이 넓은 순서, 가격, 면적, 지역을 추가
df[df.가격>300000].sort_values(by="면적",ascending=False).loc[:,('아파트','가격','면적','지역')]

                            아파트      가격        면적              지역
31258                      한남더힐  485000  233.0620   서울특별시 용산구 한남동
27061                 상지리츠빌 카일룸  461000  210.5000   서울특별시 강남구 도곡동
26805               해운대두산위브더제니스  376640  209.8332   부산광역시 해운대구 우동
29941                      반포자이  350000  165.0520   서울특별시 서초구 반포동
27036                    동부센트레빌  373000  161.4700   서울특별시 강남구 대치동
27105                     신현대9차  310000  152.3900  서울특별시 강남구 압구정동
30719                 아시아선수촌아파트  308000  151.0080   서울특별시 송파구 잠실동
27034                    동부센트레빌  345000  145.8300   서울특별시 강남구 대치동
27108  현대6차(78~81,83,84,86,87동)  349000  144.2000  서울특별시 강남구 압구정동
27109  현대6차(78~81,83,84,86,87동)  350000  144.2000  서울특별시 강남구 압구정동
27110        현대7차(73~77,82,85동)  355000  144.2000  서울특별시 강남구 압구정동
29946                   아크로리버파크  415000  129.9200   서울특별시 서초구 반포동
27035                    동부센트레빌  325000  121.7400   서울특별시 강남구 대치동
29945                   아크로리버파크  340000   84.9500   서울특별시 서초구 반포동